.user_component_column {
  display: flex;
  padding-left: 25px;
  border: 1px solid white;
  margin-top: 15px;
  border-radius: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}
.ani {
  transition: all 0.1s ease-in-out;
}
.ani:hover {
  transform: scale(1.006);
}
.user_component_column img {
  height: 70px;
  width: 70px;
  border-radius: 25px;
}

.friend_number {
  color: white;
  padding: 10px 25px;
}
.user_component_text {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.user_component_title {
  margin: 0px;
}
.user_component_subtitle {
  margin: 5px 0;
}
